@*@using SportsStore.Domain.Entities
    @model IEnumerable<Product>*@

@model SportsStore.WebUI.Models.ProductsListViewModel
@{
    ViewBag.Title = "Products";
}
@*@foreach (var p in Model)*@
@*@foreach (var p in Model.Products)
    {
        <div>
                <h3>@p.Name</h3>
                @p.Description
                <h4>@p.Price.ToString("c")</h4>
            </div>
        <div class="well">
            <h3>
                <strong>@p.Name</strong>
                <span class="pull-right label label-primary">@p.Price.ToString("c")</span>
            </h3>
            <span class="lead"> @p.Description</span>
        </div>
    }*@
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

@*<div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    </div>*@

@*<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>*@

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, category = Model.CurrentCategory }))
</div>